# ---- ENTORNOS VIRTUALES ----
venv/
.env/
*.env

# ---- ARCHIVOS TEMPORALES DE PYTHON ----
__pycache__/
*.pyc
*.pyo

# ---- BASE DE DATOS DE CHROMADB ----
chroma_db/

# ---- DATOS GRANDES ----
data/*.csv
data/*.xlsx
data/*.json
data/csv/
data/*.zip
data/*.exe

# ---- MAC / WINDOWS ARCHIVOS DE SISTEMA ----
.DS_Store
Thumbs.db
